@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
body,html{
	height: 100%;
	background-color: #222222;
	color: #FFFFFF;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.header{
		background-image: url('../assets/background-image/IMAGE.png');
		background-position:top  center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 65.21052631578947vh;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px;
		padding: 0 25px;
		&::after{
			content: "";
			display: block;    
			@media screen and (max-width:768px) {
				display: none;
			}
			width: 100%;
			height: 40%;  
			position: absolute;
			bottom:0;      
			left: 0;   
			background: linear-gradient(360deg, #222 0%, rgba(0,0,0,0) 100%);
			border-radius: 0px;
		}
		.header__upper{
			display: flex;
			align-items: center;
			justify-content: space-around;
			@media screen and (max-width:768px) {
				flex-direction: column;
			}
			height: 80px;
			.header__logo{
				p{
					color: #fff;
					font-size: 24px;
				}
			}
			.header__menu{
				.header__list{	
					display: flex;
					list-style-type: none;
					.header__listitem{
						padding-right: 25px;
							.header__link{
								font-size: 12px;
								letter-spacing: 1px;
								text-transform: uppercase;
								text-decoration: none;
								color: #999999;
								&.active{
									color:#00D6B4;
								}
							}
						}
					}
				}
			}
		.header__footer{
			margin-top: 125px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.header__info{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.header__text{
					text-align: center;
					max-width: 465px;
					margin-bottom: 29px;
					p{
						font-size: 48px;
						@media screen and (max-width:768px) {
							font-size: 35px;
						}
						color: #FFFFFF;
						line-height: 53px;
					}
				}
				.header__button{
					margin-bottom: 50px;
					a{
						border: 1px solid #00D6B4;
						border-radius: 3px;
						padding: 10px 26px;
						text-decoration: none;
						color: #00D6B4;
						font-size: 13px;
						line-height: 19px;
						text-transform: uppercase;						
					}
				}
			}
		}
	}
	.main-content{
		padding: 0 25px;
        flex: 1 1 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		&__text{
			p{
				font-size: 25px;
				line-height: 30px;
				color: #FFFFFF;
			}
		}
		&__items{
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			@media screen and (max-width:1000px) {
				// flex-direction: column;
				.main-content__item{
					margin: 15px;
				}
			}
			.main-content__col1{

			}
			.main-content__col2{

			}
			.main-content__col3{

			}
			.main-content__item{
				display: block;
				text-decoration: none;
				margin: 20px;
			}
		}
	}
	.footer{
		padding: 0 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 25px 0;
		.footer__info{
			.footer__text{
				text-align: center;
				.footer__title{
					p{
						color: #C2C2C2;
						font-size: 18px;
						line-height: 22px;
						text-transform: uppercase;
						margin-bottom: 10px;
					}
				}
				.footer__subtitle{
					a{
						font-family: 'Open Sans', sans-serif;
						font-size: 12px;
						line-height: 18px;					
						color: #999999;
						text-decoration: none;
					}
				}
			}
		}
	}
}